<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary text-white p-2">
            <a class="navbar-brand">SPORTS STORE</a>
            <cart-summary></cart-summary>
        </div>
    </div>
    <div class="row">
        <div class="col-3 p-2">
            <button class="btn btn-block btn-outline-primary" (click)="changeCategory()">
                Home
            </button>
            <button *ngFor="let cat of categories" class="btn btn-outline-primary btn-block" 
            [class.active]="cat == selectedCategory" (click)="changeCategory(cat)">
                {{cat}}
            </button>
        </div>
        <div class="col-9 p-2">
            <div *ngFor="let product of products" class="card card-outline-primary mb-2">
                <h4 class="card-header">
                    {{product.name}}
                    <span class="float-right badge badge-primary">
                        {{product.price | currency: "USD": true:"2.2-2"}}
                    </span>
                </h4>
                <div class="card-text p-3">
                    {{product.description}}
                    <button class="btn btn-success btn-sm float-right" 
                    (click)="addProductToCart(product)">Add To Cart</button>
                </div>
            </div>
            <form class="form-inline float-left">
                
                <select class="form-control" [value]="productsPerPage"
                    (change)="changePageSize($event.target.value)">
                    <option value="3">3 per Page</option>
                    <option value="4">4 per Page</option>
                    <option value="6">6 per Page</option>
                    <option value="8">8 per Page</option>
                </select>
            </form>
            <div class="btn-group float-right">
                    <button *ngFor="let page of pageNumbers" (click)="changePage(page)"
                                class="btn btn-outline-primary" [class.active]="page == selectedPage">
                                {{page}}
                    </button>
            </div>               
                   
        </div>
    </div>
</div>
